<!-- Form should have following types of fields: 
Text field
Checkbox
Radio buttons (set of 2 buttons)
A submit button -->

<div class="form-container">
    <form #saveForm="ngForm" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput name="name" placeholder="Name" 
            [formControl]="nameFormControl" required>
            <mat-error *ngIf="nameFormControl?.invalid">
                {{getErrorMessage()}}
            </mat-error>
        </mat-form-field>
        <section>
            <mat-checkbox name="human"
            formControlName="human">Are you human??</mat-checkbox>
        </section>
        <mat-radio-group name="sex"
        formControlName="sex">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
        <section>
            <button mat-raised-button type="submit" [disabled]="userForm.invalid" color="primary">Submit</button>
        </section>
        <div *ngIf="saveForm.submitted" class="submitted-message">
            <p>Thank you, {{ userForm.value.name }}!</p>
        </div>
    </form>
    <div>
        <button mat-raised-button (click)="getUser();" type="button" color="warn">Get User</button>
    </div>
</div>